body {
	background-color: green;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
}

H1, H2, H3 {
	color: white;
	font-family: Impact;
}

div {
	color: white;
	margin: 1px;
}

p {
	font-family: Tahoma;
	color: white;
	font-size-adjust: 0,5;
}

#box {
	height: 60px;
	width: 200px;
}

#sideborder {
	border-color: lightgrey;
}